[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/opt/rocrail/rocgui.sh
Icon=/opt/rocrail/rocrail.xpm
Name=Rocrail GUI
Categories=Application;Rocrail;Game;
