Package: rocrail
Version: 1.2.0
Section: games
Priority: optional
Architecture: i386
Depends: libwxgtk2.8-0
Maintainer: Rob Versluis <support@rocrail.net>
Description: Rocrail - Model Railroad Control System.    

