Package: rocrail
Version: <BZR>
Section: other
Priority: optional
Architecture: <ARCH>
Depends: libwxgtk2.8-0
Installed-Size: 34000
Maintainer: Rob Versluis <support@rocrail.net>
Description: Rocrail - Model Railroad Control System.    
Homepage: http://www.rocrail.net
