
[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=true
Exec=/opt/rocrail/rocrail.sh
Icon=/opt/rocrail/rocraild.png
Name=Rocrail
Categories=Rocrail;
